.LatestRecords
{
    margin-top: 5px;
    width: 320px;
    height: 210px;
    padding: 16px;

    background: rgba(46, 85, 119, 0.65);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);

    border-radius: 16px;

    border: 1px solid rgba(255, 255, 255, 0.15);

    box-shadow:
        0 10px 25px rgba(0, 0, 0, 0.4);

    transition: all 0.3s ease;
}

.LatestRecords h1
{
    font-size: 18px;
}